extends root 

block styles 
  link(rel='stylesheet' href='/styles/chat-room.css')
  link(rel='stylesheet' href='/styles/forms.css')
  link(rel='stylesheet' href='/styles/popup.css')
  link(rel='stylesheet' href='/styles/modals.css')
  if ((chat.type == 'private' || chat.type == 'public') && chat.owner._id.equals(user._id))
    link(rel='stylesheet' href='/styles/mod-styles.css')

block scripts 
  script(src='/scripts/chat-room.js' type='module' defer)
  if ((chat.type == 'private' || chat.type == 'public') && chat.owner._id.equals(user._id)) 
    script(src='/scripts/chat-room-admin.js' type='module' defer)
  script(src='/scripts/popup.js' type='module' defer)

block content 
  if !user
    p Sign up to start chatting! 
  else
    if chat.type == 'public' || chat.type == 'private' && user._id.equals(chat.owner._id)
      div#modals 
        div#mod-menu-modal
          div.toolbar 
            button.exit X 
          div 
            h1 Moderation Menu
            ul 
              li: button(id="change-topic-button" type="button") Change Topic 
              li: button(id="view-banned-users-button" type="button") View Banned Users 

        div#change-topic-modal
          div.toolbar 
            button.exit X 
          form#set-topic 
            div.form-input-field 
              label(for='topic') Topic 
              input(name='chatId' type='hidden' value=chat._id)
              input(name='userId' type='hidden' value=user._id)
              input(id='topic' name='topic' type='text')
            div.buttons 
              button(type='submit').primary-btn Set topic 

        div#banned-users-modal 
          div.toolbar 
            button.exit X 
          div 
            h1 Banned Users List
            form#unban-users
              ul#banned-users-list 
              button#unban-users-button.primary-btn(type='submit') Unban Selected Users

    div(class=`chat-info ${chat.type == 'private' || chat.type == 'public' ? 'popup-parent' : ''}`)
      if chat.type == 'private-message'
        p Private message with: #{chat.allowedUsers.find((occupant) => !occupant._id.equals(user._id)).username}
      else if chat.type == 'private' || chat.type == 'public'
        if chat.name
          div.title-bar
            h2 In chat: #[span.room-name.popup-trigger #{chat.name}]
            if user._id.equals(chat.owner._id)
              button#owner-options: img(src='/images/cog.svg' alt='settings')  
        p Topic: #[span#chat-topic #{chat.topic || 'No topic set'}]

        div.popup 
          p Owner: #{chat.owner.username} 
          p Description: #{chat.description}
        
    div#chat-room
      div(id='messages')
        if messages.length > 0
          - messages.reverse() 
          each message in messages 
            div(class='message' data-messageid=message._id)
              p 
                span.username #{message.author.username}: 
                if message.type == 'text'
                  span.message-content= message.data
      form(id='message-form')
        input(type='hidden' id='chat_id' name='chat_id' value=chat._id)
        input(type='hidden' id='user_id' name='user_id' value=user._id)
        input(type="text" id="message_input" name='message_input' autocomplete='off')
        button(id='send-message' class='primary-btn') Send Message

      div(id='users')
        p Users
        ul
          if chat.type == 'private' && chat.owner
            li: a(href=`/users/${chat.owner.username}`)= chat.owner.username
          if chat.type == 'private' || chat.type == 'private-message'
            each entry in chat.allowedUsers 
              li: a(href=`/users/${entry.username}`)= entry.username