extends root 

include mixins/friend-form-mixin.pug

block scripts 
  script(src='/scripts/friend_request.js' defer)


block content 
  if user && profile 
    h1 Profile for #{profile.username}
    - let displayOnline = profile.public && profile.showOnlineStatus && profile.online
    p.onlinestatus(class=displayOnline == true ? 'online' : 'offline')= displayOnline == true ? 'Online' : 'Offline'
    if profile.public
      img(src=profile.image || '/images/account.png')
      p Name: #{profile.firstName || ''} #{profile.lastName || ''}
      p Email: #{profile.email}
      p Birthday: #{profile.birthday && profile.birthday.toLocaleDateString() || ''}
      p About: #{profile.about}
    p Created: #{profile.created.toLocaleDateString()}
    div(id='friend-status')
      - 
        let friendStatus = 'not found';

        const search = user.friends.find((entry) => {
          if (entry.friend.equals(profile._id)) {
            friendStatus = entry.status;
            return true;
          }
        });

      if user._id.toString() != profile._id.toString()
        if friendStatus == 'sent'
          p Friend request sent 
          +friendForms('friendship-reject', 'Cancel Friend Request', profile._id)
        else if friendStatus == 'recieved'
          +friendForms('friendship-accept', 'Accept Friend Request', profile._id)
          +friendForms('friendship-reject', 'Reject Friend Request', profile._id)
        else if friendStatus == 'friend'
          p You are friends with this user
          +friendForms('friendship-reject', 'Remove Friend', profile._id)
        else 
          +friendForms('friend-request', 'Add Friend', profile._id)  
  else 
    p Sign up to access this page.