extends root 

block content 
  if user 
    h1 Profile for #{user.username}
    if user.public
      img(src=user.image || '/images/account.png')
      p Name: #{user.firstName || ''} #{user.lastName || ''}
      p Email: #{user.email}
      p Birthday: #{user.birthday || ''}
      p About: #{user.about}
    p Created: #{user.created.toLocaleDateString()}
  else 
    p User not found