extends root 

block content 
  if user 
    h1 Profile for #{profile.username}
    if profile.public
      img(src=profile.image || '/images/account.png')
      p Name: #{profile.firstName || ''} #{profile.lastName || ''}
      p Email: #{profile.email}
      p Birthday: #{profile.birthday || ''}
      p About: #{profile.about}
    p Created: #{profile.created.toLocaleDateString()}
  else 
    p User not found