extends root 

include mixins/friend-form-mixin.pug


block scripts 
  script(src='/scripts/friend_request.js' defer)


block styles 
  link(rel='stylesheet' href='/styles/user-profile.css')
  link(rel='stylesheet' href='/styles/forms.css')

  
block content 
  if user && profile 
    div.user-name
      - 
        let onlineStatus = '';
        let displayOnline = profile.public && profile.showOnlineStatus
        if (displayOnline) {
          onlineStatus = profile.online ? 'online' : 'offline';
        } 
      h1(class=`${onlineStatus}`) Profile for #{profile.username}
    if profile.public
      div.avatar
        img(src=profile.image || '/images/account.png')
        p Joined #{profile.created.toLocaleDateString()}
      div.user-info
        if profile.firstName || profile.lastName
          h2 Name
          p.info #{profile.firstName || ''} #{profile.lastName || ''}
        if profile.email
          h2 Email
          p.info #{profile.email}
        if profile.birthday
          h2 Birthday
          p.info #{profile.birthday && profile.birthday.toLocaleDateString() || ''}
      div.about
        if profile.about
          h2 About
          p.info #{profile.about}
    div(id='friend-status')
      - 
        let friendStatus = 'not found';

        const search = user.friends.find((entry) => {
          if (entry.friend.equals(profile._id)) {
            friendStatus = entry.status;
            return true;
          }
        });

      if user._id.toString() != profile._id.toString()
        if friendStatus == 'sent'
          p Friend request sent 
          +friendForms('friendship-reject', 'Cancel Friend Request', profile._id)
        else if friendStatus == 'recieved'
          +friendForms('friendship-accept', 'Accept Friend Request', profile._id)
          +friendForms('friendship-reject', 'Reject Friend Request', profile._id)
        else if friendStatus == 'friend'
          p You are friends with this user
          +friendForms('friendship-reject', 'Remove Friend', profile._id)
        else 
          +friendForms('friend-request', 'Add Friend', profile._id)  
  else 
    p Sign up to access this page.