extends root 

mixin friendForms(id, btnText)
  form(id=id)
    input(type='hidden' name='friendId' value=profile._id)
    button(type=submit)= btnText


block scripts 
  script(src='/scripts/friend_request.js' defer)


block content 
  if user && profile 
    h1 Profile for #{profile.username}
    if profile.public
      img(src=profile.image || '/images/account.png')
      p Name: #{profile.firstName || ''} #{profile.lastName || ''}
      p Email: #{profile.email}
      p Birthday: #{profile.birthday || ''}
      p About: #{profile.about}
    p Created: #{profile.created.toLocaleDateString()}
    div(id='friend-status')
      - 
        let friendStatus = 'not found';

        const search = user.friends.find((entry) => {
          if (entry.friend.equals(profile._id)) {
            friendStatus = entry.status;
            return true;
          }
        });

      if friendStatus == 'sent'
        p Friend request sent 
        +friendForms('friendship-reject', 'Cancel Friend Request')
      else if friendStatus == 'recieved'
        +friendForms('friendship-accept', 'Accept Friend Request')
        +friendForms('friendship-reject', 'Reject Friend Request')
      else if friendStatus == 'friend'
        p You are friends with this user
        +friendForms('friendship-reject', 'Remove Friend')
      else 
        +friendForms('friend-request', 'Add Friend')

  else 
    p Sign up to access this page.